* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

button {
    display: block;
    cursor: pointer;
}

input,
button {
    outline: none;
    border: 0;
}