@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
}

input,
button {
  outline: none;
  border: 0;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.on {
  display: block !important;
}

.opacity-on {
  opacity: 1 !important;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

p {
  line-height: 1.5;
  word-break: keep-all;
}

em {
  font-weight: bold;
}

h3 {
  word-break: keep-all;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  word-break: keep-all;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.2rem;
  }
}

.inner {
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1366px) {
  .inner {
    width: 90%;
  }
}

.emogi-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
  background-color: #fafafa;
}

.emogi-box p {
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .emogi-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header {
  background-color: #343090;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav h1 {
  width: 100px;
}

header nav h1 img {
  display: block;
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  header nav ul {
    display: block;
    position: absolute;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100vh;
    padding-top: 100px;
    background-color: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1000;
  }
  header nav ul li a {
    display: block;
    padding: 20px 10px;
    color: #333333 !important;
  }
}

header nav ul li {
  padding: 0 1.5rem;
}

header nav ul li a {
  color: white;
}

header nav ul li a:hover {
  font-weight: bold;
}

header nav .menu-close {
  display: none;
}

@media screen and (max-width: 768px) {
  header nav .menu-close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: #8b98a7;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
  }
}

header nav .menu-open {
  display: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  header nav .menu-open {
    display: block;
  }
}

section.container .visual {
  height: 600px;
  background-color: #343090;
  color: white;
}

@media screen and (max-width: 768px) {
  section.container .visual {
    height: 450px;
  }
  section.container .visual .inner ul {
    left: 48%;
  }
  section.container .visual .inner ul li:nth-child(2) {
    margin-bottom: 36px !important;
  }
  section.container .visual .inner p,
  section.container .visual .inner ul li {
    font-size: 2rem;
  }
}

section.container .visual .inner {
  height: 100%;
  position: relative;
}

section.container .visual .inner p {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  section.container .visual .inner p {
    font-size: 1.4rem !important;
  }
}

section.container .visual .inner ul {
  position: absolute;
  top: 50%;
  left: 48.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.container .visual .inner ul li {
  font-size: 3rem;
  font-weight: bold;
}

section.container .visual .inner ul li:nth-child(2) {
  margin-bottom: 85px;
}

@media screen and (max-width: 768px) {
  section.container .visual .inner ul li {
    font-size: 1.4rem !important;
  }
}

section.container .visual .inner span {
  color: #5f59f7;
}

section.container .title {
  padding: 120px 0;
}

@media screen and (max-width: 768px) {
  section.container .title {
    padding: 50px 0;
  }
}

section.container .title h3 {
  text-align: center;
}

section.container .title .emogi-box {
  margin-bottom: 20px;
}

section.container .title .emogi-box .emogi {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png");
  background-size: 5700% 5700%;
  background-position: 67.9% 64.3%;
}

section.container .title .emogi-box2 {
  margin-bottom: 50px;
}

section.container .title .emogi-box2 .emogi {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png");
  background-size: 5700% 5700%;
  background-position: 69.7% 64.3%;
}

section.container .service > section {
  padding: 120px 0;
}

section.container .service > section:nth-child(2n-1) {
  background-color: #fafafa;
}

@media screen and (max-width: 768px) {
  section.container .service > section {
    padding: 60px 0;
  }
}

section.container .service .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.container .service .inner > div {
  width: 50%;
}

section.container .service .inner > div:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  section.container .service .inner {
    display: block;
  }
  section.container .service .inner > div {
    width: 100%;
  }
}

section.container .service h4 {
  color: #5f59f7;
}

@media screen and (max-width: 768px) {
  section.container .service .text-v {
    width: 100%;
    text-align: center;
  }
}

section.container .service .text-v h4 {
  margin-bottom: 10px;
}

section.container .service .text-v p {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  section.container .service .text-v p {
    font-size: 1rem;
  }
}

section.container .service .sec1 .des-v {
  width: 310px;
  height: 278px;
  background-image: url(../images/iphone-mockup-top.png);
  background-size: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  section.container .service .sec1 .des-v {
    width: 280px;
    margin: auto;
    margin-top: 20px;
  }
}

section.container .service .sec1 .des-v dl {
  width: 70%;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  section.container .service .sec1 .des-v dl {
    font-size: 0.8rem;
  }
}

section.container .service .sec1 .des-v dl dt {
  display: inline-block;
  width: 40%;
}

section.container .service .sec1 .des-v dl dd {
  display: inline-block;
  width: calc(60% - 5px);
  margin-bottom: 10px;
  padding: 5px;
  background-color: #8b98a7;
  color: white;
}

section.container .service .sec2 .des-v .emogi {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png");
  background-size: 5700% 5700%;
  background-position: 25% 19.6%;
}

@media screen and (max-width: 768px) {
  section.container .service .sec2 .des-v {
    margin-bottom: 20px;
  }
  section.container .service .sec2 .des-v p {
    font-size: 0.8rem;
  }
}

section.container .service .sec3 .des-v {
  text-align: center;
}

section.container .service .sec3 .des-v li {
  display: inline-block;
  padding: 5px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
  text-align: center;
}

section.container .service .sec3 .des-v li:first-child {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  section.container .service .sec3 .des-v li {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  section.container .service .sec3 .text-v {
    margin-bottom: 20px;
  }
}

section.container .service .sec4 .des-v p {
  max-width: 350px;
  margin: auto;
  padding: 10px;
  padding-left: 50px;
  border-radius: 5px;
  background-color: #8b98a7;
  position: relative;
}

@media screen and (max-width: 768px) {
  section.container .service .sec4 .des-v p {
    width: auto;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
}

section.container .service .sec4 .des-v p .emogi {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  top: calc(50% - 12.5px);
  left: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png");
  background-size: 5700% 5700%;
  background-position: 23.2% 50%;
}

section.container .service .sec4 .des-v p .text {
  color: #fafafa;
}

section.container .banner {
  padding: 50px 0;
  background-color: #5f59f7;
}

section.container .banner .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.container .banner .inner p {
  color: white;
  word-break: keep-all;
  font-size: 1.2rem;
}

section.container .banner .inner p span {
  color: #c8db32;
  text-decoration: underline;
}

section.container .banner .inner a {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: white;
  color: #5f59f7;
}

section.container .banner .inner a:hover {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  section.container .banner .inner a {
    margin-top: 10px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  section.container .banner {
    padding: 30px 0;
  }
  section.container .banner .inner {
    display: block;
  }
  section.container .banner .inner p {
    font-size: 1rem;
  }
  section.container .banner .inner button {
    margin-top: 10px;
    padding: 10px 15px;
  }
}

aside {
  display: none;
}

aside .popup {
  width: 500px;
  padding: 30px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
}

@media screen and (max-width: 768px) {
  aside .popup {
    width: 80%;
  }
}

aside .popup .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

aside .popup .top span {
  cursor: pointer;
  font-size: 2rem;
}

aside .popup .contents {
  height: 500px;
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

footer {
  padding: 50px 0;
  background-color: #343090;
  color: white;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 30px 0;
    font-size: 0.8rem;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  padding: 0 10px;
  position: relative;
  cursor: pointer;
}

footer ul li:first-child {
  padding-left: 0;
}

footer ul li:last-child:after {
  display: none;
}

footer ul li:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #5f59f7;
}

footer ul li a {
  color: white;
}

section.login {
  height: calc(100% - 80px - 147px);
  position: relative;
}

@media screen and (max-width: 768px) {
  section.login {
    height: calc(100% - 80px - 97px);
  }
}

section.login .box {
  width: 90%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.login .box h3 {
  margin-bottom: 30px;
  text-align: center;
}

section.login .box form label {
  display: inline-block;
  width: 20%;
  margin-bottom: 20px;
}

section.login .box form input {
  width: 80%;
  padding: 10px;
  background-color: #8b98a7;
  color: white;
}

section.login .box form input::-webkit-input-placeholder {
  color: #fafafa;
}

section.login .box form input:-ms-input-placeholder {
  color: #fafafa;
}

section.login .box form input::-ms-input-placeholder {
  color: #fafafa;
}

section.login .box form input::placeholder {
  color: #fafafa;
}

section.login .box button {
  width: 100%;
  margin: 20px 0 10px;
  padding: 15px 10px;
  background-color: #5f59f7;
  color: white;
}

section.login .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

section.login .box ul li {
  text-align: center;
  padding-right: 10px;
  position: relative;
  font-size: 0.8rem;
}

section.login .box ul li:last-child {
  padding-right: 0;
  padding-left: 10px;
}

section.login .box ul li:first-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  right: 0;
  width: 2px;
  height: 80%;
  background-color: #8b98a7;
}

section.work .title .title-slider {
  margin: 80px auto;
}

section.work .title .title-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.work .title .title-slider .slick-dots li {
  width: 10px;
  height: 10px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 100px;
  background-color: #8b98a7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

section.work .title .title-slider .slick-dots li:last-child {
  margin-right: 0;
}

section.work .title .title-slider .slick-dots li button {
  display: none;
}

section.work .title .title-slider .slick-dots .slick-active {
  width: 30px;
  background-color: #5f59f7;
}

section.work .title .title-slider h3 {
  text-align: left;
  color: #5f59f7;
}

section.work .who {
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  section.work .who {
    margin-bottom: 60px;
  }
}

section.work .who .inner .box {
  margin-bottom: 30px;
}

section.work .who .inner .box:last-child {
  margin-bottom: 0;
}

section.work .who .inner .box h4 {
  margin: 10px 0;
  position: relative;
}

section.work .who .inner .box h4 .emogi {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png");
  background-size: 5700% 5700%;
  background-position: 30.4% 41.1%;
  position: relative;
  top: 5px;
}

section.work .who .inner .box h4 .emogi2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png");
  background-size: 5700% 5700%;
  background-position: 26.8% 91.1%;
}

section.work .who .inner .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  section.work .who .inner .box ul {
    display: block;
  }
}

section.work .who .inner .box ul li {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #5f59f7;
  color: white;
}

section.work .who .inner .box ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  section.work .who .inner .box ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  section.work .who .inner .box ul li:last-child {
    margin-bottom: 0;
  }
}

section.work .who .inner .box ul li span {
  color: #c8db32;
}

section.work .how {
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  section.work .how {
    margin-bottom: 60px;
  }
}

section.work .how .inner h3 {
  margin-bottom: 20px;
}

section.work .how .inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  margin-bottom: 30px;
}

section.work .how .inner ul li {
  width: 50%;
  padding: 20px 30px;
  background-color: #fafafa;
  text-align: center;
  cursor: pointer;
}

section.work .how .inner ul li:last-child {
  border-left: none;
}

section.work .how .inner ul .tab-on {
  background-color: #5f59f7;
  color: white;
}

section.work .how .inner .contents {
  position: relative;
  overflow: hidden;
}

section.work .how .inner .contents > div {
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section.work .how .inner .contents .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fafafa;
}

section.work .how .inner .contents .box h4 {
  min-width: 180px;
  margin-right: 20px;
}

section.work .how .inner .contents .box h4 .num {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 8px;
  background-color: #5f59f7;
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  section.work .how .inner .contents .box {
    display: block;
  }
  section.work .how .inner .contents .box h4 {
    margin-bottom: 10px;
  }
}

section.work .how .inner .contents-on {
  position: absolute;
  top: 0;
}

section.work .how .inner .contents-off {
  position: absolute;
  top: -100%;
}

section.ask {
  margin: 120px 0;
}

@media screen and (max-width: 768px) {
  section.ask {
    margin: 60px 0;
  }
}

section.ask h3 {
  margin-bottom: 10px;
  text-align: center;
}

section.ask p {
  text-align: center;
}

section.ask form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  section.ask form {
    width: 100%;
  }
}

section.ask form label {
  display: inline-block;
  width: 20%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  section.ask form label {
    display: block;
    width: 100%;
  }
}

section.ask form label span {
  color: #5f59f7;
  font-weight: bold;
}

section.ask form label.text {
  display: block;
}

section.ask form input {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #8b98a7;
  color: white;
}

section.ask form input:last-child {
  margin-bottom: 0;
}

section.ask form input::-webkit-input-placeholder {
  color: #fafafa;
}

section.ask form input:-ms-input-placeholder {
  color: #fafafa;
}

section.ask form input::-ms-input-placeholder {
  color: #fafafa;
}

section.ask form input::placeholder {
  color: #fafafa;
}

@media screen and (max-width: 768px) {
  section.ask form input {
    width: 100%;
  }
}

section.ask form textarea {
  outline: 0;
  border: 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #8b98a7;
  color: white;
}

section.ask form button {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 15px 20px;
  background-color: #5f59f7;
  color: white;
}

.black {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  z-index: 100;
}

.tab-on {
  opacity: 1 !important;
}
/*# sourceMappingURL=main.css.map */